{% extends "views/main.html" %} {% block page_body %}


<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">



<div class="container mx-auto flex lg:items-start lg:flex-row flex-col text-gray-800 dark:text-gray-300 py-25 px-4">

    <div id="left-profile" class="lg:w-1/4 md:w-2/3 md:mx-auto">

        <img class="rounded-md " width="250" height="300" src="{{url_for('static', filename='./assets/dp1.jpeg')}}">


        <div class="mt-4 font-semibold text-3xl p-1">
            {{ me.name }}
            <span id="statusIcon" class="w-2.5 h-2.5 rounded-full inline-flex animate-pulse bg-gray-400">
            </span>
        </div>

        <p class="ml-0.5 text-md mt-1 pt-1">{{ me.short_bio }}</p>

        <div id="listeningStatus" class="ml-0.5 my-1.50 text-sm break-word hidden ">
            <span class="w-2 h-2 bg-red-500 rounded-full inline-flex animate-pulse">
            </span>
            <span id="listeningContent" class="ml-1"> Listening to <b>Spotify</b> </span>
        </div>

        <div class="ml-0.5 my-1 mr-1 justify-center p-1">
            {% include "icons/location.svg" %} {{ me.location }}
        </div>

        <a id="email" href="mailto:9abhijay@gmail.com" class="text-gray-800 dark:text-gray-300 ml-0.5 my-1 mr-1 no-underline p-1">
            {% include "icons/mail.svg" %}
            {{ me.email }}
        </a>

        <div class="ml-0.5 my-1 mr-1 p-1">
            {% include "icons/education.svg" %} {{ me.College }}
        </div>



    </div>

    <div id="right-profile" class="md:w-2/3 mx-auto divide-y">

        <div role="contentinfo" class="py-8">

            <h1 tabindex="0" c class=" xl:text-3xl pt-4 xl:pt-0 text-start mb-4 mt-4 font-semibold text-3xl">About Me
            </h1>

            <p tabindex="0" class="text-lg md:w-auto mx-auto">{{ me.bio }}</p>

        </div>
        <div role="contentinfo" class="py-4">
            <h1 tabindex="0" class=" xl:text-3xl pt-4 xl:pt-0 py-5 text-start mb-4 mt-4 font-semibold text-3xl divide-x">Technology Stack
            </h1>


            <div class="sm:grid sm:grid-cols-3 sm:gap-12 justify-center">
                {% for t in technologies %}
                <div class=" m-0.5 ">
                    <div class="flex ">
                        <div> <img src="{{ t.logo }}" width="30" height="300" alt="My Happy SVG" /> </div>
                        <div class="text-lg md:w-auto mx-auto font-semibold">{{ t.name }}</p>
                        </div>
                    </div>
                    <div class="relative pt-2.5">
                        <div class=" h-3 mb-7 text-xl flex rounded bg-pink-200">
                            <div style="width:{{ t.size }}" class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-gradient-to-r from-{{ t.color }} via-red-500 to-yellow-500 rounded-full">
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div role="contentinfo" class="py-8">
            <h1 tabindex="0" class=" xl:text-3xl pt-4 xl:pt-0 py-5 text-start mb-4 mt-4 font-semibold text-3xl divide-x">
                Projects</h1>


            <div class=" focus:outline-none xl:grid xl:grid-cols-2 sm:gap-12 justify-center ">
                {% for p in projects %}
                <div class="focus:outline-none  pb-8 lg:max-w-2xl mx-auto sm:mx-0">
                    <div class="shadow-xl rounded ">
                        <img role="img" aria-label="cars" src="{{ p.snip }}" alt="cars" class="focus:outline-none h-max w-max object-cover overflow-hidden rounded" />
                    </div>
                    <div class="p-6 shadow-lg w-11/12 mx-auto -mt-10 bg-white rounded z-20 relative shadow-xl ease hover:shadow-2xl">
                        <h1 tabindex="0" class="focus:outline-none uppercase text-lg text-indigo-700 text-center pb-3">{{ p.name }}</h1>
                        <p tabindex="0" class="focus:outline-none text-md text-gray-800  pb-3">{{ p.description }}</p>
                        <a tabindex="0" class="focus:outline-none text-sm text-gray-800 " href="{{ p.link }}"> Repo Link 
                        </a>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
        <div role="contentinfo" class="py-8">
            <h1 tabindex="0" class=" xl:text-3xl pt-4 xl:pt-0 py-5 text-start mb-4 mt-4 font-semibold text-3xl divide-x">
                Education/Work</h1>


            {% for e in education %}
            <div class="container  mx-auto w-full h-full">
                <div class="relative wrap overflow-hidden p-10 h-full">
                    <div class="border-2-2 absolute border-opacity-20 border-gray-700 dark:bg-gray-300 h-full border" style="left: 50%"></div>
                    <!-- right timeline -->
                    <div class="mb-8 flex justify-between items-center w-full {{ e.position }}">
                        <div class="order-1 w-5/12"></div>
                        <div class="z-20 flex items-center order-1 bg-gray-800 dark:bg-gray-300 shadow-xl w-8 h-8 rounded-full">
                            <h1 class="mx-auto font-semibold text-lg text-white dark:text-black ">{{ e.sno }}</h1>
                        </div>
                        <div class="order-1 bg-red-400 dark:bg-black rounded-lg shadow-xl w-5/12 px-6 py-4">
                            <h3 class="mb-3 font-bold text-black dark:text-white text-xl">{{ e.name }}</h3>
                            <p class="text-md leading-snug tracking-wide text-black dark:text-white text-opacity-100">{{ e.description }}
                            </p>
                            <p tabindex="0" class="focus:outline-none text-md text-black  text-opacity-80">
                                {{ e.time }}
                            </p>
                        </div>
                    </div>

                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %} {% block page_scripts %}
<script src="{{ url_for('static', filename='js/theme.js') }}"></script>
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script>
<script src="{{ url_for('static', filename='js/tooltips.js') }}"></script>
<script src="{{ url_for('static', filename='js/presence.js') }}"></script>
{% endblock %}